.cardContainer {
  margin-top: 4vh;
  width: 320px;
  height: 250px;
  background-color: aquamarine;
}

.imageContainer {
  width: 320px;
  height: 190px;
  background-color: gold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer img {
  width: 210px;
  height: 140px;
}

.textContainer {
  width: 320px;
  height: 60px;
  background-color: #5f5f5f;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textContainer h2 {
  margin-left: 1vw;
  font-size: 24px;
  font-weight: 700;
}

.textContainer h3 {
  margin-left: 1vw;
  font-size: 18px;
  font-weight: 650;
}
