.cardContainer {
  width: 400px;
  height: 300px;
}

.imageContainer {
  width: 400px;
  height: 225px;
  background-color: #feb8b07f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer img {
  width: 270px;
  height: 180px;
}

.textContainer {
  width: 400px;
  height: 75px;
  background-color: #caadd3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textContainer h2 {
  margin-left: 2vw;
  font-size: 24px;
  font-weight: 700;
  color: #3b3b3b;
}

.textContainer h3 {
  margin-left: 2vw;
  font-size: 18px;
  font-weight: 650;
  color: #3b3b3b;
}

/* Responsiveness */

@media only screen and (max-width: 1240px) {
  .cardContainer {
    width: 600px;
    height: 450px;
  }

  .imageContainer {
    width: 600px;
    height: 337.5px;
  }

  .imageContainer img {
    width: 360px;
    height: 240px;
  }

  .textContainer {
    width: 600px;
    height: 112.5px;
  }

  .textContainer h2 {
    margin-left: 3vw;
    font-size: 30px;
  }

  .textContainer h3 {
    margin-left: 3vw;
    font-size: 24px;
  }
}

@media only screen and (max-width: 603px) {
  .cardContainer {
    width: 360px;
    height: 270px;
  }

  .imageContainer {
    width: 360px;
    height: 202.5px;
  }

  .imageContainer img {
    width: 240px;
    height: 160px;
  }

  .textContainer {
    width: 360px;
    height: 67.5px;
  }

  .textContainer h2 {
    margin-left: 5vw;
    font-size: 24px;
    font-weight: 700;
  }

  .textContainer h3 {
    margin-left: 5vw;
    font-size: 18px;
    font-weight: 650;
  }
}
