.container {
  width: 100vw;
  height: auto;
  background-color: #feb8b07f;
  background-color: white;
}

.headingContainer {
  text-align: center;
  font-size: 36px;
  color: #704080;
  padding: 30px;
}

.cardContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1vw;
  margin-bottom: 50px;
}

@media only screen and (max-width: 1240px) {
  .cardContainer {
    flex-direction: column;
    gap: 4vw;
  }
}
