.mainContainer {
  width: 100vw;
  height: 50vh;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topContainer {
  display: flex;
  /* justify-content: flex-start; */
  align-self: flex-start;
  align-items: center;
  gap: 2vw;
}

.topContainer h1 {
  margin-left: 21.5vw;
  font-size: 3vw;
}

.topContainer img {
  width: 17vw;
  height: auto;
}

.bottomContainer {
  margin-top: 5vh;
}

.bottomContainer input {
  width: 30vw;
  height: 7vh;
  border-radius: 0;
  border: none;
}

.bottomContainer button {
  width: 12vw;
  height: 7vh;
  border-radius: 0;
  border: none;
  background-color: #5f5f5f;
  color: white;
}
