.mainContainer {
  width: 100vw;
  height: 50vh;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topContainer {
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: center;
  gap: 2vw;
}

.topContainer h1 {
  margin-left: 16vw;
  font-size: 50px;
}

.topContainer img {
  width: 300px;
  height: 200px;
}

.bottomContainer {
  width: 100vw;
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomContainer input {
  text-align: center;
  font-size: 24px;
  width: 500px;
  height: 55px;
  border-radius: 0;
  border: none;
}

.bottomContainer button {
  font-size: 24px;
  width: 200px;
  height: 55px;
  border: none;
  background-color: #5f5f5f;
  color: white;
}
