.navContainer {
  height: 55px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: salmon;
  position: sticky;
}

.leftContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1vw;
}

.leftContainer img {
  width: 40px;
  height: auto;
  margin-left: 2vw;
  border-radius: 100px;
  background-color: salmon;
}

.leftContainer h3 {
  font-size: 24px;
  color: #704080;
}

.rightContainer {
  display: flex;
  justify-content: space-around;
  gap: 3vw;
}

.rightContainer a:link {
  color: #704080;
  text-decoration: none;
}

.menuBtn {
  font-size: 18px;
  border: none;
  color: #704080;
  background-color: salmon;
  padding: 1vh 1vw;
}

.menuBtn a:hover {
  color: #704;
}

.loginBtn {
  font-size: 18px;
  border: none;
  background-color: #704080;
  color: salmon;
  margin-right: 4vw;
  padding: 1vh 2vw;
}

.loginBtn:hover {
  background-color: #caadd3;
  color: #704080;
}

/* Responsiveness */

@media only screen and (max-width: 700px) {
  .leftContainer h3 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 650px) {
  .leftContainer h3 {
    font-size: 18px;
  }

  .rightContainer button {
    font-size: 16px;
  }
}

@media only screen and (max-width: 603px) {
  .leftContainer h3 {
    font-size: 18px;
  }

  .rightContainer button {
    font-size: 16px;
  }
}

@media only screen and (max-width: 583px) {
  .navContainer {
    display: none;
  }
}
