.navTryContainer {
  height: 55px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: salmon;
  position: absolute;
  top: 0;
  z-index: -1;
}

.leftContainer {
  /* width: 13vw; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1vw;
  /* background-color: lightseagreen; */
}

.leftContainer img {
  width: 40px;
  height: auto;
  margin-left: 2vw;
  border-radius: 100px;
  background-color: salmon;
}

.leftContainer h3 {
  font-size: 24px;
  color: #704080;
}

.rightContainer {
  display: flex;
  justify-content: space-around;
  gap: 3vw;
}

.rightContainer a:link {
  color: #704080;
  text-decoration: none;
}

.menuBtn {
  font-size: 18px;
  border: none;
  color: #704080;
  background-color: salmon;
  padding: 1vh 1vw;
}

.loginBtn {
  font-size: 18px;
  border: none;
  background-color: #704080;
  color: salmon;
  margin-right: 4vw;
  padding: 1vh 2vw;
}

/* Responsiveness */

@media only screen and (max-width: 583px) {
  .navTryContainer {
    z-index: 0;
  }

  .leftContainer h3 {
    font-size: 20px;
  }

  .hamburgerIcon {
    font-size: 30px;
    color: #704080;
    margin-right: 30px;
    z-index: 10;
  }
}

/* Drop-down menu */

.dropDown {
  position: absolute;
  top: 0;
  z-index: 5;
}

.dropDown button {
  display: block;
  width: 100vw;
  height: 55px;
  background-color: salmon;
  border: solid 1px #704080;
  color: #704080;
}

.dropDown button a:link {
  text-decoration: none;
}

.dropDown button a:visited {
  color: #704080;
}
